{% extends "index.html" %}

{% block maincontent %}

<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h1>An Upvote for the Internet</h1>
          <hr>
          <div class="row">
            <div class="col-md-4">
              <span style="font-size:3em;" class="glyphicon glyphicon-thumbs-up"></span>
              <p>Show your appretiation for the people that help make the internet a great
                 place</p>
            </div>
            <div class="col-md-4"> 
              <span style="font-size:3em;" class="glyphicon glyphicon-lock"></span>
              <p>We protect your privacy your information will never be given away
                 or sold</p>
            </div>
            <div class="col-md-4"> 
              <span style="font-size:3em;" class="glyphicon glyphicon-grain"></span>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                 accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
          </div>

      </div>
    </div>
  </div>
</header>

<div class="container">
  <h1 align=center>Why Tip</h1>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
         incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-md-4"> 
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui 
         ex ea commodo consequat.</p>
    </div>
    <div class="col-md-4"> 
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque 
         laudantium, totam rem aperiam.</p>
    </div>
  </div>
</div>

<img id="bg_img" src="/static/skyline_bg.jpg">

{% endblock %}
