{% extends "index.html" %}

{% block maincontent %}

<div class="container">
  <div class="row-fluid">

    <div class=col-sm-6>
        <h2>Top Tiped Today</h2>
      <div class="jumbotron">
        <h6>List of Items</h6>
      </div>
    </div>

    <div class=col-sm-6>
        <h2>Funny</h2>
      <div class="jumbotron">
        <h6>List of Items</h6>
      </div>
    </div>

    <div class=col-sm-6>
        <h2>Political</h2>
      <div class="jumbotron">
        <h6>List of Items</h6>
      </div>
    </div>

    <div class=col-sm-6>
        <h2>Coding</h2>
      <div class="jumbotron">
        <h6>List of Items</h6>
      </div>
    </div>

  </div>
</div>

{% endblock %}

