
html {
  position: relative;
  min-height: 100%;

}

nav {
    margin-bottom: 0 !important;
}

/******************************************************************************
 * header 
 *****************************************************************************/
header {
    text-align: center;
    color: #fff;
    background: #337ab7;
}

header .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

/******************************************************************************
 * Body 
 *****************************************************************************/
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;

}

/******************************************************************************
 * BG_Image 
 *****************************************************************************/
img {
  max-width: 100%;
}

/******************************************************************************
 * Footer 
 *****************************************************************************/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding: 25px 0;
}
